.custom {
    border: none;
    text-align: center;
  }
  
  .custom::before {
    content: "...";
    font-size: 3.5em; /* Adjust size as needed */
    letter-spacing: 10px; /* Adjust spacing as needed */
    color: #fff; /* Adjust color as needed */
  }
  