body, html {
  margin: 0;
  height: 100%;
  background-attachment: fixed;
  overflow-y: auto;
  padding: 0;
  background-image: url(/public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
